<!DOCTYPE html>
<html>
<head>
    <title>数据报表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./dist/css/jquery.cxcolor.css">
    <script src="./dist/js/jquery.min.js"></script>
    <script src="./dist/js/popper.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/js/drag.1.0.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="./dist/js/utils.js"></script>
    <script src="./dist/js/angular.min.js"></script>
    <script src="./dist/js/highcharts-ng.min.js"></script>
    <script src="./dist/js/ngDraggable.js"></script>
    <script src="./dist/js/jquery.cxcolor.min.js"></script>
    <script type="text/javascript" src="js/socialcalcconstants.js"></script>
    <script type="text/javascript" src="js/socialcalc-3.js"></script>
    <script type="text/javascript" src="js/socialcalctableeditor.js"></script>
    <script type="text/javascript" src="js/formatnumber2.js"></script>
    <script type="text/javascript" src="js/formula1.js"></script>
    <script type="text/javascript" src="js/socialcalcpopup.js"></script>
    <script type="text/javascript" src="js/socialcalcworkbook.js"></script>
    <script type="text/javascript" src="js/socialcalcactionbtns.js"></script>
    <script type="text/javascript" src="js/socialcalworkchart.js"></script>
    <link rel="stylesheet" type="text/css" href="css/socialcalc.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
</head>
<body ng-app="mainApp" ng-controller="mainController">
<div class="container-fluid">
    <div class="first-part-actions" id="first-part-actions">
        <div class="btn-group btn-group-sm" id="toolbar">
            <a href="index.html" target="_blank">
                <img class="icon-btn" src="./images/create.png" title="新建项目">
            </a>
            <img class="icon-btn" src="./images/save.png" title="保存至服务器" data-toggle="modal" data-target="#modelSaveToServer" ng-click="$.moveFocus()">
            <label class="input-file">
                <input type="file" onchange="angular.element(this).scope().loadLocalFile(this)" multiple="multiple"/>
                <img class="icon-btn" src="./images/input_file.png" title="选择文件" >
            </label>
            <img class="icon-btn" src="./images/import.png" title="导入远程文档" data-toggle="modal" data-target="#modelDataSource" ng-click="$.moveFocus()">
            <img class="icon-btn" src="./images/share.png" title="分享链接" data-toggle="modal" data-target="#modelShareLink" ng-click="$.moveFocus()">
            <a ng-href="{{$.downloadModel.info.fileUri}}" ng-attr-download="{{$.downloadModel.info.fileName}}" ng-click="$.downloadModel.download()">
                <img class="icon-btn" src="./images/download.png" title="下载excel文档">
            </a>
            <img class="icon-btn" src="./images/mail.png" title="邮件设置" data-toggle="modal" data-target="#modelMail" ng-click="$.moveFocus()">
            <div class="action-btns"></div>
            <img class="icon-btn" src="./images/chart.png" title="插入图表" data-toggle="modal" data-target="#modelChart" id="modelChartIcon" ng-click="$.moveFocus()">
            <img class="icon-btn" src="./images/button_about.png" title="about" data-toggle="modal" data-target="#modelAbout">
        </div>
        
        <div>
            <form class="form-inline">
                <label for="formula"><img src="./images/fx.png"></label>
                <input type="text" id="formula" placeholder="=A1+A2">
            </form>
        </div>
    </div>
    <div class="modal fade" id="modelSaveToServer" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">填写生成文件的文件名</span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input placeholder="填写用户名" ng-model="$.config.owner"/>
                    <input placeholder="填写文件名" ng-model="$.config.fileName"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="$.saveModel.saveFile()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modelChart" tabindex="-1" role="dialog" aria-labelledby="modelChartLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">
                        插入图表
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="chart-list" >
                        <img title="柱状图" name="bar" src="./images/bar.png" ng-click="$.chartModel.selectType('bar')" />
                        <img title="折线图" name="line" src="./images/brokenline.png" ng-click="$.chartModel.selectType('line')" />
                        <img title="饼图" name="pie" src="./images/pie.png" ng-click="$.chartModel.selectType('pie')" />
                        <img title="区域图" name="area" src="./images/area.png" ng-click="$.chartModel.selectType('area')" />
                    </div>
                    <div class="chart-demo">
                        <form class="axis-form">
                            <input type="checkbox" style="width:13px" ng-model="$.chartModel.selected.meta.hasLegend">第一行是系列标题
                            <input type="checkbox" checked  style="width:13px" ng-model="$.chartModel.selected.meta.hasXsis">第一列作为横坐标
                            <input type="text" ng-model="$.chartModel.selected.meta.title">标题
                        </form>
                        <highchart id="chart1" config="$.chartModel.selected.chart"></highchart>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="buttonSaveChart" ng-click="$.chartModel.add()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modelMail" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">邮件设置</span>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>填写邮件信息</div>
                    <br/>
                    <div>
                        <label>收件列表</label>
                        <input placeholder="收件人:aaa@qq.com,bbb@qq.com" ng-model="$.config.mailInfo.to"/>
                    </div>
                    <div>
                        <label>抄送列表</label>
                        <input placeholder="抄送:aaa@qq.com,bbb@qq.com" ng-model="$.config.mailInfo.cc"/>
                    </div>
                    <div>
                        <label>密送列表</label>
                        <input placeholder="密送:aaa@qq.com,bbb@qq.com" ng-model="$.config.mailInfo.bcc"/>
                    </div>
                    <div>
                        <label>邮件标题</label>
                        <input placeholder="title:" ng-model="$.config.mailInfo.title"/>
                    </div>
                    <hr/>
                    <div>填写邮件章节信息</div>
                    <br/>
                    <div class="row" ng-repeat="m in $.config.mailInfo.chapterList">
                        <p class="col-1">{{$index+1}}.</p>
                        <p class="col-5">title: {{m.title}}</p>
                        <p class="col-5">sheet: {{m.sheetName}}</p>
                        <div class="col-1">
                            <button class="btn btn-primary btn-sm" ng-click="$.mailModel.deleteChapter($index)">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"><p>选择</p></div>
                        <input class="col-5" ng-model="$.mailModel.selected.title" type="text"/>
                        <select class="col-5" ng-model="$.mailModel.selected.sheetInfo" ng-options="m.name for m in $.sheetInfoList"></select>
                        <div class="col-1"><button class="btn btn-default btn-sm" ng-click="$.mailModel.addChapter()">+</button></div>
                    </div>
                    <hr/>
                    <div>邮件调度信息</div>
                    <br/>
                    <div>
                        <label>开始时间</label>
                        <input type="datetime-local" ng-model="$.config.mailInfo.startTime" value="2018-11-01T15:00:00"/>
                    </div>
                    <div>
                        <label>每隔几天</label>
                        <input type="number" ng-model="$.config.mailInfo.period"/>
                    </div>
                    <div>
                        <label class="text-warning">{{$.mailModel.selected.sendResult}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="$.mailModel.send()">发送</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modelShareLink" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">
                        分享链接
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <a ng-href="{{$.shareModel.getUrl()}}">{{$.shareModel.getUrl()}}</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="modelDataSource" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">
                        管理数据源
                    </span>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">Sheet</div>
                        <div class="col-md-8">
                            <select class="form-control"
                                    ng-model="$.dataSourceModel.selected.sheetInfo"
                                    ng-options="m.name for m in $.sheetInfoList">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Pos</div>
                        <div class="col-md-2">
                            <input placeholder="-1" type="number" ng-model="$.dataSourceModel.selected.pos"/>
                        </div>
                        <div class="col-md-4">
                            <p>-1表示增加,否则为替换</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Range</div>
                        <div class="col-md-2">
                            <input placeholder="A1:B10" ng-model="$.dataSourceModel.selected.range"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Remote</div>
                        <div class="col-md-8">
                            <div>
                                <select class="form-control"
                                        ng-change="$.dataSourceModel.select(m)"
                                        ng-model="$.dataSourceModel.selected.source"
                                        ng-options="m.source as m.table for m in $.dataSourceModel.list">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Source</div>
                        <div class="col-md-10">
                            <input placeholder="k1=v1&k2=v2" ng-model="$.dataSourceModel.selected.ref"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <input type="button" class="btn-success" ng-click="$.dataSourceModel.add()" value="add"/>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>range</th>
                                    <th>source</th>
                                    <th>edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $.dataSourceModel.selected.sheetInfo.sheet.remote">
                                    <td>{{item.coord1 + ":" + item.coord2}}</td>
                                    <td>{{item.ref}}</td>
                                    <td><button class="btn btn-default" ng-click="$.dataSourceModel.edit($index)">edit</button></td>
                                    <td><button class="btn btn-default" ng-click="$.dataSourceModel.remove($index)">X</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="modelAbout" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">
                        About
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div>作者</div>
                    <hr/>
                    <div>
                        <a href="#">Dong</a>
                    </div>
                    <div>
                        <a href="#">SmartXiaoMing</a>
                    </div>
                    <br/>
                    <div>鸣谢</div>
                    <hr/>
                    <div>
                        <a href="http://www.iconfont.cn/">iconfont.cn</a>
                    </div>
                    <div>
                        <a href="https://www.highcharts.com/">highcharts</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div>
        <div class="tab-content container-fluid" id="sheet"></div>
        <ul class="nav nav-tabs" id="nav-tabs" role="tablist">
            <li class="nav-item" ng-repeat="sheetName in $.sheetTab.list">
                <a class="nav-link" data-toggle="tab" href="#"
                    ng-class="{active:$.sheetTab.isSelected($index)}"
                    ng-click="$.sheetTab.select($index)"
                    ng-dblclick="$.sheetTab.rename($index)">{{sheetName}}
                    <span class="pull-right" ng-click="$.sheetTab.remove($index)">
                        <img class="" src="./images/x.png">
                    </span>
                </a>

            </li>
            <li class="add-sheet" ng-click="$.sheetTab.add()">
                <img src="./images/add-sheet.png" >
            </li>
        </ul>
    </div>
   
    <div class="chart"
         ng-repeat="chart in $.chartModel.charts"
         ng-mousedown="$.chartModel.mousedown($event, $index)"
         ng-mousemove="$.chartModel.mousemove($event, $index)"
         ng-mouseup="$.chartModel.mouseup($event, $index)"
         ng-style="chart.style"
         >
        <img src="./images/delete.png" class="chart-delete" ng-click="$.chartModel.remove($index)">
        <highchart config="chart"></highchart>
    </div>
</div>
<script>
let workbook = new SocialCalc.Workbook("sheet", "formula");
angular.module('mainApp', ["highcharts-ng"])
.config(['$compileProvider', function($compileProvider) {
    $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|tel|file|sms|data):/);
}])
.controller('mainController', function($scope, $http, $window, $q) {
    let config = {
        fileName: "",
        owner: "",
        today: "",
        mailInfo: {
            period: 1,
            startTime: new Date(),
            title: "",
            chapterList: [], // {"title":"","sheetName":""},
            to: "",
            cc: "",
            bcc: "",
        }
    };

    let sheetTab = function () {
        let tabList = [];
        let selected = {
            index: 0
        };

        function select (index) {
            let name = tabList[index];
            selected.index = index;
            workbook.selectSheet(name);
        }

        function add (sheetName) {
            if (!sheetName) {
                let sheetInfo = workbook.addNewSheet();
                sheetName = sheetInfo.name;
                workbook.selectSheet(sheetName);
            }
            tabList.push(sheetName);
            workbook.selectSheet(sheetName);
            select(tabList.length - 1);
        }

        function rename (index) {
            let name = tabList[index];
            const newName = window.prompt("重命名sheet: " + name, name);
            if (newName && workbook.renameSheet(name, newName)) {
                tabList[index] = newName;
            }
        }

        function isSelected (index) {
            return selected.index == index;
        }

        function remove (index) {
            let name = tabList[index];
            if (!confirm("确认删除tab'" + name + "', 删除后不可恢复?")) {
                return;
            }
            workbook.removeSheet(name);
            tabList.splice(index, 1);
            list.push(response.data.result);
            if (tabList.length == 0) {
                selected.index = -1;
            } else if (selected.index >= tabList.length) {
                selected.index = tabList.length - 1;
            }
        }

        return {
            list: tabList,
            selected: selected,
            add: add,
            rename: rename,
            select: select,
            remove: remove,
            isSelected: isSelected,
        }
    }();

    let saveModel = function() {
        function saveFile() {
            if (!config.fileName) {
                alert("please input file name");
                return;
            }
            if (!config.owner) {
                alert("please owner name");
                return;
            }
            let content = workbook.generateFile();
            let mailInfo = angular.copy(config.mailInfo);
            if (mailInfo.startTime) {
                mailInfo.startTime = mailInfo.startTime.getTime();
            } else {
                mailInfo.startTime = 0;
            }

            return $http({
                method: 'POST',
                url: "/api/file",
                data: {
                    fileName: config.fileName,
                    owner: config.owner,
                    content: content,
                    mailInfo: JSON.stringify(mailInfo),
                },
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                transformRequest: transformRequest
            }).then(function (response) {
                if (response.data.code == 0) {
                    alert("OK");
                    document.title = config.fileName;
                } else {
                    console.log(response);
                    alert(response.data.message);
                }
            }, function (response) {
                alert("error: " + response);
            });
        }

        return {
            saveFile: saveFile,
        };
    }();

    let mailModel = function() {
        let selected = {
            title: "",
            sheetInfo: null,
            sendResult: "",
        }

        function addChapter () {
            if (!selected.sheetInfo) {
                alert('请设置章节对应表单');
                return;
            }
            let chapter = {
                title: selected.title || selected.sheetInfo.name,
                sheetName: selected.sheetInfo.name,
            };
            config.mailInfo.chapterList.push(chapter);
        }

        function deleteChapter (index) {
            config.mailInfo.chapterList.splice(index, 1);
        }

        function send () {
            if (!config.mailInfo.title) {
                alert("请设置邮件标题");
                return;
            }
            if (!config.mailInfo.to && !config.mailInfo.cc && !config.mailInfo.bcc) {
                alert("请设置至少一个收件人");
                return;
            }
            let html = workbook.getHtmlForOutlook(config.mailInfo.chapterList);
            return $http({
                method: 'POST',
                url: "/api/mail",
                data: {
                    title: config.mailInfo.title,
                    to: config.mailInfo.to,
                    cc: config.mailInfo.cc,
                    bcc: config.mailInfo.bcc,
                    body: html
                },
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                transformRequest: transformRequest,
            }).then(function (response) {
                console.log(response);
                if (response.data.code == 0) {
                    selected.sendResult = "success to send";
                } else {
                    selected.sendResult = "failed to send : " + response.data.message;
                }
            }, function (response) {
                selected.sendResult = "error to send: " + response;
            });
        }

        return {
            selected: selected,
            send: send,
            addChapter: addChapter,
            deleteChapter: deleteChapter
        }
    }();

    let dataSourceModel = function() {
        let list = [];
        let selected = {
            sheetInfo: {},
            pos: -1,
            range: "",
            ref:"",
            source: "",
        }

        function initList () {
            let url = "/api/stat/table/info?offset=0&size=100";
            $http({method: 'GET', url: url,})
            .then(function (response) {
                if (response.data.code != 0) {
                    console.log(response);
                    alert(response.data.message);
                    return;
                }
                Object.assign(list, response.data.result);
            }, function (response) {
                console.log("error: " + response);
            });
        }

        function select () {
            selected.ref = selected.source;
        }

        function add () {
            let cr2 = selected.range.split(':');
            if (cr2.length != 2) {
                alert("range is invalid:" + selected.range);
                return;
            }
            let sheet = selected.sheetInfo.sheet;
            let info = workbook.addRemoteInfo(sheet, cr2[0], cr2[1], selected.ref, selected.pos);
            $q.when(dataModel.loadRemoteData(sheet, info, config.today))
            .then(function() { workbook.refresh();});
        }

        function edit (index) {
            let item = selected.sheetInfo.sheet.remote[index];
            selected.pos = index;
            selected.range = item.coord1 + ":" + item.coord2,
            selected.ref = item.ref;
        }

        function remove (index) {
            if (!confirm('是否要刪除"' + selected.sheetInfo.name + '"的一条数据源?')) {
                return;
            }
            selected.sheetInfo.sheet.remote.splice(index, 1);
        }

        return {
            list: list,
            selected: selected,
            initList: initList,
            select: select,
            add: add,
            edit: edit,
            remove: remove
        }
    }();

    let downloadModel = (function() {
        let info = {
            fileName: "",
            fileUri: "",
        }

        function download () {
            info.fileName = config.fileName || "未命名文件";
            let str = workbook.generateFile();
            info.fileUri = "data:text/plain;charset=utf-8," + str;
        }

        return {
            info: info,
            download: download,
        }
    })();

    let shareModel = function () {
        function getUrl() {
            return window.location.origin + window.location.pathname
                + "?fileName=" + config.fileName + "&owner=" + config.owner;
        }

        return {
            getUrl: getUrl,
        }
    }();

    let chartModel = function () {
        let selected = {
            meta: {
                range: "",
                title: "",
                subtitle: "",
                type: "",
                range: "",
                hasXsis: true,
                hasLegend: true,
            },
            chart:{},
        };
        let charts = [];
        let dragInfo = {flag:false,};

        function selectType (type) {
            if (!workbook.editor.range.hasrange) {
                alert("no data range selected");
                return;
            }
            selected.meta.type = type;
            let range = workbook.editor.range;
            let sheetInfo = getCurrentSheetInfo();
            selected.meta.range = SocialCalc.crToCoord(range.left, range.top)
                +":"+SocialCalc.crToCoord(range.right, range.bottom);
            selected.meta.type = type;
            selected.chart = renderChart(sheetInfo.sheet, selected.meta);
        }

        function add () {
            let sheetInfo = getCurrentSheetInfo();
            let config = angular.copy(selected.meta);
            let chart = renderChart(sheetInfo.sheet, selected.meta);
            sheetInfo.sheet.charts.push(config);
            charts.push(chart);
           // $('#chart-container').highcharts(renderChart(selected.chartConfig));
            $('#modelChart').modal('hide'); // TODO
            var oBar = document.getElementById('chart-container');
            var oBox = document.getElementById('chart-container')
            startDrag(oBar, oBox);
        }

        function remove (index) {
            let sheetInfo = getCurrentSheetInfo();
            charts.splice(index, 1);
            sheetInfo.sheet.charts.splice(index, 1);
        }

        function renderSheetChart (sheet) {
            if (sheet.charts.length != 0 || charts.length != 0) {
                charts.splice(0, charts.length);
                for (let i = 0; i < sheet.charts.length; ++i) {
                    let chartData = sheet.charts[i];
                    let chartConfig = renderChart(sheet, chartData);
                    let style = {};
                    if (chartData.left != undefined) {
                        style.left = chartData.left + "px";
                    }
                    if (chartData.top != undefined) {
                        style.top = chartData.top + "px";
                    }
                    chartConfig.style = style;
                    charts.push(chartConfig);
                }
                $scope.$apply();
            }
        }

        function mousedown (event, index) {
            dragInfo.target = event.currentTarget;
            dragInfo.startX = event.clientX;
            dragInfo.startY = event.clientY;
            dragInfo.left = parseInt(document.defaultView.getComputedStyle(dragInfo.target,false)["left"]);
            dragInfo.top = parseInt(document.defaultView.getComputedStyle(dragInfo.target,false)["top"]);
            dragInfo.flag = true;
        }

        function mousemove (event, index) {
            if (dragInfo.flag) {
                dragInfo.target.style.left = dragInfo.left + event.clientX - dragInfo.startX + "px";
                dragInfo.target.style.top = dragInfo.top + event.clientY - dragInfo.startY + "px";
            }
        }

        function mouseup (event, index) {
            let chart = getCurrentSheetInfo().sheet.charts[index];
            dragInfo.flag = false;
            chart.left = dragInfo.left + event.clientX - dragInfo.startX;
            chart.top = dragInfo.top + event.clientY - dragInfo.startY;
        }

        return {
            selected: selected,
            charts: charts,
            selectType: selectType,
            add: add,
            remove: remove,
            renderSheetChart: renderSheetChart,
            mousedown: mousedown,
            mouseup: mouseup,
            mousemove: mousemove,
        }
    }();

    let dataModel = function () {
        function loadRemoteData (sheet, info, today) {
            if (sheet.remote.length == 0) {
                return;
            }
            let url = "/api/stat?" + info.ref;
            if (today) {
                url += "&today=" + today;
            }
            return $http({method: 'GET', url: url})
            .then(function (response) {
                if (response.data.code != 0) {
                    console.log("error: " + response);
                    alert("failed to load remote data:" + url);
                }
                workbook.updateRemoteData(sheet, info, response.data.result);
            }, function () {
                console.log("error: " + response);
            });
        }

        function loadFileData (fileData, today) {
            let list = JSON.parse(fileData);
            let promises = [];
            for (let i = 0; i < list.length; ++i) {
                let info = list[i];
                let sheetInfo = workbook.addNewSheet(info.name, info.content);
                sheetTab.add(sheetInfo.name);
                for (let j = 0; j < sheetInfo.sheet.remote.length; ++j) {
                    let p = loadRemoteData(sheetInfo.sheet, sheetInfo.sheet.remote[j], today);
                    if (p) {
                        promises.push(p);
                    }
                }
            }
            return $q.all(promises).then(function() {
                workbook.recalcAllSheet();
                workbook.refresh();
            });
        }

        function initFromUrlParam () {
            let fileName = getValueFromQuery("fileName");
            let owner = getValueFromQuery("owner");
            let mail = getValueFromQuery("mail");
            let today = getValueFromQuery("today");
            if (!fileName || !owner) {
                sheetTab.add();
                return;
            }
            let url = "/api/file?fileName=" + fileName + "&owner=" + owner;
            $http({method: 'GET', url: url})
            .then(function (response) {
                 if (response.data.code != 0) {
                    console.log(response);
                    alert(response.data.message);
                    return;
                }
                let data = response.data;
                config.fileName = fileName;
                config.owner = owner;
                document.title = fileName;
                if (today) {
                    config.today = today;
                }
                if (data.result.mailInfo) {
                    config.mailInfo = JSON.parse(data.result.mailInfo);
                    config.mailInfo.startTime = new Date(config.mailInfo.startTime);
                    if (typeof config.mailInfo.period !== "number") {
                        config.mailInfo.period = parseInt(config.mailInfo.period);
                    }
                }
                let content = data.result.content;
                $q.when(loadFileData(content, today))
                .then(function () {
                    if (mail) {
                        window.setTimeout(function () {
                            mailModel.send();
                        }, 1000); // give 1 second for recalc the formula data
                    }
                });
            }, function (response) {
                console.log("error: " + response);
            });
        }

        return {
            loadRemoteData: loadRemoteData,
            loadFileData: loadFileData,
            initFromUrlParam: initFromUrlParam,
        }
    }();

    function getCurrentSheet() {
        return workbook.getCurrentSheet();
    }

    function getCurrentSheetInfo() {
        return workbook.sheetInfoList[workbook.currentSheetIndex];
    }

    function moveFocus () {
        let obj = document.getElementById("toolbar");
        SocialCalc.Keyboard.passThru = obj;
        obj.focus();
    }

    $scope.$ = (function () {
        return {
            config: config,
            sheetInfoList: workbook.sheetInfoList,
            getCurrentSheetInfo: getCurrentSheetInfo,
            getCurrentSheet: getCurrentSheet,
            mailModel: mailModel,
            sheetTab: sheetTab,
            saveModel: saveModel,
            dataSourceModel: dataSourceModel,
            downloadModel: downloadModel,
            shareModel: shareModel,
            dataModel:dataModel,
            moveFocus: moveFocus,
            chartModel: chartModel,
        }
    })();

    angular.element($window).bind("resize", function () {
        workbook.resize();
    });

    workbook.setRenderSheetChart(chartModel.renderSheetChart);
    dataModel.initFromUrlParam();
    dataSourceModel.initList();
});

$(document).ready(function () {
    $(".icon-btn").click(function () {
        let command = $(this).attr("command");
        let arg = $(this).attr("arg");
        if (command) {
            workbook.executeCommand(command, arg);
        }
    });

});

</script>
</body>
</html>